In [1]:
!python3 -m pip install ais-trawler --extra-index-url=https://test.pypi.org/simple/

Looking in indexes: https://pypi.org/simple, https://test.pypi.org/simple/
Collecting ais-trawler
  Downloading https://test-files.pythonhosted.org/packages/dd/f2/3cbd26d4fcae34cfbc03066cec380efa29bbdb84c547f1bab3b3c170df21/ais_trawler-0.0.1-py3-none-any.whl (5.7 kB)
Collecting bs4
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting pandas
  Using cached pandas-1.5.0-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
Collecting numpy
  Using cached numpy-1.23.4-cp39-cp39-macosx_11_0_arm64.whl (13.4 MB)
Requirement already satisfied: beautifulsoup4 in /opt/homebrew/Caskroom/miniforge/base/envs/pypi_test_env/lib/python3.9/site-packages (from bs4->ais-trawler) (4.11.1)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniforge/base/envs/pypi_test_env/lib/python3.9/site-packages (from pandas->ais-trawler) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Caskroom/miniforge/base/envs/pypi_test_env/lib/python3.9/site-packages (from pandas->ais-trawler) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniforge/base/envs/pypi_test_env/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->ais-trawler) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/Caskroom/miniforge/base/envs/pypi_test_env/lib/python3.9/site-packages (from beautifulsoup4->bs4->ais-trawler) (2.3.2.post1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=8a02626a65b7e9d1649bc83ef762e53eee93f8257ae938d22da119b0e2c3acab
  Stored in directory: /Users/kaaso/Library/Caches/pip/wheels/8b/ac/c5/cb646ab01df6f353a9994b1c97dffb94f9b12013d64c162c58
Successfully built bs4
Installing collected packages: numpy, pandas, bs4, ais-trawler
Successfully installed ais-trawler-0.0.1 bs4-0.0.1 numpy-1.23.4 pandas-1.5.0

In [3]:
import numpy as np

In [5]:
mmsi = np.genfromtxt('../data/test_data/mmsi.csv', delimiter=',').astype(int).tolist()
mmsi[10:20]

[205202745,
 205210190,
 205216690,
 205220190,
 205224690,
 205256290,
 205260490,
 205268290,
 205276490,
 205278390]

In [6]:
from ais_trawler import Trawler

In [11]:
%%time
with Trawler() as Tr1:
    Tr1.get_meta_v1(mmsi[0:10])

CPU times: user 8.86 ms, sys: 29.5 ms, total: 38.3 ms
Wall time: 13.2 s

In [12]:
Tr1.df

       imo       mmsi length width     type callsign         Name
0       -1  205010190     -1    -1    Cargo     n.a.   MS MY BOAT
1  9280689  205050000     88    13    Cargo     ONKX       MARANT
2  7802964  205051000    112    18  Dredger     ORTV  JAMES ENSOR
3       -1         -1     -1    -1       -1       -1           -1
4       -1  205058100     -1    -1    Cargo     n.a.      LAILA M
5  9521461  205085000     90    17    Cargo     ORUD      SLOEBER
6  9713478  205087000    199    32    Cargo     ONMM     CL EBISU
7  9192650  205103000     88    13    Cargo     ONLB       MARGOT
8  9313656  205106000     88    13    Cargo     ONLC       MARCUS
9       -1  205200790     -1    -1    Cargo     n.a.    VELASSARU

In [13]:
%%time
with Trawler() as Tr1:
    Tr1.get_meta_v2(mmsi[100:110])

CPU times: user 10.7 ms, sys: 35.4 ms, total: 46.1 ms
Wall time: 13.3 s

In [14]:
Tr1.df

       imo       mmsi length  ... gross_tonnage deadweight_tonnage country
0  9754446  209318000  131.0  ...            -1                 -1  Cyprus
1  9396696  209322000  152.0  ...            -1                 -1  Cyprus
2  9065948  209325000   88.0  ...            -1                 -1  Cyprus
3  9167978  209332000   90.0  ...            -1                 -1  Cyprus
4  9402287  209384000  292.0  ...            -1                 -1  Cyprus
5  9155418  209452000  100.0  ...            -1                 -1  Cyprus
6  9114701  209468000   91.0  ...            -1                 -1  Cyprus
7  9135743  209487000   89.0  ...            -1                 -1  Cyprus
8  9851751  209525000   90.0  ...            -1                 -1  Cyprus
9  9361378  209530000  111.0  ...            -1                 -1  Cyprus

[10 rows x 10 columns]